<form action="/course/handle-form-action" method="post" class='mx-4 mt-4'>
  <h2>Danh sách khóa học</h2>
  <a href="/me/deleted/courses">Các khóa học đã xóa ({{deletedCount}})</a>
  <div class="search-box mt-4 d-flex align-items-center">
    <div>
      <input class="ms-2" type="checkbox" id="checked-all" name="checked-all">
      <label for="checked-all">Chọn tất cả</label>
    </div>

    <select class="mx-4 form-select-sm" name="action" aria-label="Default select example" required>
      <option value="" selected>Chọn Thao tác</option>
      <option value="delete">Xóa</option>
      {{!-- <option value="2">Two</option> --}}
      {{!-- <option value="3">Three</option> --}}
    </select>

    <button type="submit" class="btn btn-primary btn-check-submit btn-sm disabled">Thực hiện</button>
  </div>
  <table class='table mt-3'>
    <thead>
      <tr class="align-middle">
        <th scope="col">#</th>
        <th scope='col'>ID</th>
        <th scope='col'>
            {{{sortable 'name' _sort 'Tên khóa học'}}}
        </th>
        <th scope='col'>{{{sortable 'description' _sort 'Mô tả'}}}</th>
        <th scope='col'>{{{sortable 'createdAt' _sort 'Thời gian tạo'}}}</th>
        <th scope='col'></th>
        <th scope='col'></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr class="align-middle">
          <th>
            <input class="form-check-input" name="courseIds" type="checkbox" value="{{this._id}}">
          </th>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.description}}</td>
          <td>{{this.createdAt}}</td>
          <td><a
              href='/course/{{this._id}}/edit'
              class='btn btn-link'
            >Sửa</a></td>
          <td><a
              class='btn btn-link'
              data-bs-toggle='modal'
              data-bs-target='#confirmDeleteModal'
              data-bs-id='{{this._id}}'
            >Xóa</a></td>
        </tr>

        {{ else }}
        <tr>
          <td colspan="5" class="text-center">
            Bạn chưa đăng khóa học nào !!!
            <a href="/course/create">Đăng khóa học</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</form>

{{! Confirm delete course }}

<!-- Modal -->
<div
  class='modal fade'
  id='confirmDeleteModal'
  tabindex='-1'
  aria-labelledby='confirmDeleteModalLabel'
  aria-hidden='true'
>
  <div class='modal-dialog'>
    <form method="post" id="form-delete">
      <div class='modal-content'>
        <div class='modal-header'>
          <h1 class='modal-title fs-5' id='confirmDeleteModalLabel'>Xác nhận xóa
            khóa học</h1>
          <button
            type='button'
            class='btn-close'
            data-bs-dismiss='modal'
            aria-label='Close'
          ></button>
        </div>
        <div class='modal-body'>
          <div class='content'>Bạn có đồng ý xóa khóa học không</div>
        </div>
        <div class='modal-footer'>
          <button type='submit' class='btn btn-primary'>Đồng ý</button>
          <button
            type='button'
            class='btn btn-secondary'
            data-bs-dismiss='modal'
          >Hủy</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  const confirmDeleteModal = document.getElementById('confirmDeleteModal')
  const checkboxAll = document.querySelector('#checked-all');
  const courseItemsCheckbox = document.querySelectorAll('input[name="courseIds"]');
  const btnCheckSubmit = document.querySelector('.btn-check-submit');

  confirmDeleteModal.addEventListener('show.bs.modal', event => { 
    const button = event.relatedTarget;
    const courseID = button.getAttribute('data-bs-id'); 
    const formDelete = confirmDeleteModal.querySelector('#form-delete');
    formDelete.setAttribute("action", `/course/${courseID}?_method=DELETE`);
  })

  console.dir(checkboxAll);
  checkboxAll.onchange = function() {
    const isChecked = this.checked;
    courseItemsCheckbox.forEach((courseItemCheckbox) => {
      courseItemCheckbox.checked = isChecked;
    })
    showBtnCheckSubmit();
  }

  courseItemsCheckbox.forEach((courseItemCheckbox) => {
    courseItemCheckbox.onchange = function() {
      const isCheckedAll = courseItemsCheckbox.length === document.querySelectorAll('input[name="courseIds"]:checked').length;
      checkboxAll.checked = isCheckedAll;
      showBtnCheckSubmit();
    }
  })

  const showBtnCheckSubmit = () => {
    if (document.querySelectorAll('input[name="courseIds"]:checked').length) {
      btnCheckSubmit.classList.remove('disabled');
    } else {
      btnCheckSubmit.classList.add('disabled');
    }
  }

</script>